/* Container principal */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Estilo base dos logos */
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

/* Efeito de sombra no hover para qualquer logo */
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

/* Efeito de hover específico para o logo do React */
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/* Animação de rotação para o logo */
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Aplica a animação de rotação apenas quando não há preferência por movimento reduzido */
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* Estilo dos cards */
.card {
  padding: 2em;
}

/* Estilo para textos auxiliares */
.read-the-docs {
  color: #888;
}
